{% extends 'base.html' %}

{% block title %}
    Удалить реферала
{% endblock %}

{% block content %}
    <div class="page-container">
        <div class="page-header">
            <h1>Удалить реферала?</h1>
        </div>
        <div class="custom-form">
            <form action="" method="post">{% csrf_token %}
                <p>Вы уверены что хотите удалить "{{ object.last_name }} {{ object.first_name }} {{ object.middle_name }}"?</p>
                <button class="btn btn-danger" type="submit">Удалить</button>
                <a href="{% url 'referral:detail' object.slug %}" class="btn btn-secondary">Нет</a>
            </form>
        </div>
    </div>
{% endblock %}