{% extends 'base.html' %}
{% block title %}
    Список рефералов
{% endblock %}
{% block content %}
    <div class="page-container">

        <div class="page-header">
            <h3>Рефералы</h3>
            <a type="button" class="btn btn-primary" href="{% url 'referral:create' %}">Создать реферала</a>
        </div>

        <div class="page-header">
            <h5>Сортировка по:</h5>
        </div>

        <div>
            <a type="button" class="btn btn-primary" href="{% url 'referral:filter' pk=1 %}">алфавиту</a>
            <a type="button" class="btn btn-primary" href="{% url 'referral:filter' pk=2 %}">дате регистрации</a>
            <a type="button" class="btn btn-primary" href="{% url 'referral:filter' pk=3 %}">рекрутеру</a>
            <a type="button" class="btn btn-primary" href="{% url 'referral:list' %}">Все</a>
        </div>

        <br>


        <div class="row">
            <div class="col-12">
                <ul class="list-group list-group-horizontal-md">
                    <li class="list-group-item col-5" style="background: #007fff">ФИО</li>
                    <li class="list-group-item col-5" style="background: #007fff">Рекрутер</li>
                    <li class="list-group-item col-2" style="background: #007fff">Зарегистрирован</li>
                </ul>
            </div>
            <div class="col-12">
                {% for referral in referrals %}
                    <ul class="list-group list-group-horizontal-md">
                        <li class="list-group-item col-5"><a href="{% url 'referral:detail' referral.slug %}">{{ referral.last_name }} {{ referral.first_name }} {{ referral.middle_name }}</a></li>
                        <li class="list-group-item col-5">{{ referral.recruiter.last_name }} {{ referral.recruiter.first_name }} {{ referral.recruiter.middle_name }}</li>
                        <li class="list-group-item col-2">{{ referral.created.date }}</li>
                    </ul>
                {% endfor %}
            </div>


            <!----------------------- PAGINATION   ------------------->
            {% if is_paginated %}
                <nav>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="/referral/list/?page={{ page_obj.previous_page_number }}"> < </a>
                            </li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active">
                                    <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="/referral/list/?page={{ page_obj.next_page_number }}"> > </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}