{% extends 'base.html' %}
{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="page-container">
        <div class="home-page jumbotron">
            <!---------------- REFERRALS----->
            <a class="btn btn-primary btn-lg" href="{% url 'referral:create' %}" role="button">Создать реферала</a>
            <a class="btn btn-primary btn-lg" href="{% url 'referral:list' %}" role="button">Все рефералы</a>

            <!-------------- RECRUITERS----->
            <a class="btn btn-primary btn-lg" href="{% url 'recruiter:create' %}" role="button">Создать рекрутера</a>
            <a class="btn btn-primary btn-lg" href="{% url 'recruiter:list' %}" role="button">Все рекрутеры</a>
        </div>
    </div>
{% endblock %}